@mixin square-shape($size) {
    width: $size;
    height: $size;
    border-radius: 4px;
}

@mixin user-avatar($size) {
    @include square-shape($size);
}

@mixin user-icon($size, $font-size) {
    @include square-shape($size);
    line-height: $size;
    text-align: center;
    color: #fff;
    font-size: $font-size;
    font-weight: 700;
}
